/*============================================*/
/* font指定
/*--------------------------------------------*/
body {
  font-family: "ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
}

a{
  text-decoration: none;
  color: #fff;
}

a:link { color: #fff; }

a:visited { color: #fff; }

a:hover { color: #fff; }

a:active { color: #fff; }









.box{}

.box--charm{
  border: 1px solid #B79B48;
  background-image:url(../image/charm-bg-img.png);
}


.box--charm img{
  width: 100%;
  padding: 0;
}






.title{
  font-size: 70px;
  padding: 90px 0;
  line-height: 1.4;
  font-family: "ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
  text-shadow: 0 -2px 2px #666, -1px 0 1px #999, 2px 0 2px #666;
  z-index: 100;
}

@media screen and (max-width: 840px) {
  .title{
    font-size: 60px;
    text-align: right;
    text-shadow: 0 -2px 2px #333, -1px 0 1px #666, 2px 0 2px #333;
  }
}

@media screen and (max-width: 480px) {
  .title{
    font-size: 50px;
    padding: 90px 0 60px 0;
    text-align: center;
  }
}

.title--small{
  font-size: 40px;
  padding: 40px 0;
  line-height: 1.4;
  font-family: "ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
  text-shadow: 0 -2px 2px #666, -1px 0 1px #999, 2px 0 2px #666;
  z-index: 100;
}

@media screen and (max-width: 840px) {
  .title--small{
    font-size: 33px;
    padding: 30px 0;
    text-align: right;
    text-shadow: 0 -2px 2px #333, -1px 0 1px #666, 2px 0 2px #333;
  }
}

@media screen and (max-width: 480px) {
  .title--small{
    font-size: 25px;
    text-align: center;
  }
}

.title--center{
  text-align: center;
}

.title--padding0{
  padding: 0;
}

.image-30th{
  padding: 15px 0px 15px 30px;
}

.image-30th img{
  width: 90%;
  max-width: 70px;
  float: right;
}

.image-ichibu{
  padding: 5px
}

.image-ichibu img{
  width: 100%;
  max-width: 120px;
  float: right;
}

.image-logo{
  padding-left: 5px;
}

.image-logo img{
  width: 100%;
  max-width: 200px;
  max-height: 72px;
}

.coin-bg{
  background-image:url(../image/coin-bg.jpg);
  background-repeat: repeat-x;
}

.coin-image img{
  top: 0px;
}

.family-bg{
  background-image:url(../image/family-bg.jpg);
  background-repeat: repeat-x;
}

.family-bg img{
  z-index: 0;
}

.family-img img{
  top: 0;
  width: 100%;
  max-width: 650px;
}

.triangle{
  position: relative;
  width: 100%;
}

.triangle:before{
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  left: 50%;
  margin-left: -50px;
  border-width: 32px 50px 0 50px;
  border-color: #A68C3F transparent transparent transparent;
  position: absolute;
  top: 0px;
}

.triangle:after{
  content: '';
  width: 0;
  height: 0;
  left: 50%;
  margin-left: -50px;
  border-style: solid;
  position: absolute;
  top: -1px;
  border-width: 32px 50px 0 50px;
  border-color: #fff transparent transparent transparent;
}


.catch-img img{
  width: 100%;
}

.recommend-img img{
  width: 100%;
}

select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  margin-top: 2px;
  height: 36px;
}

.selectWrap{
  width: 100%;
  position: relative;
  display: inline-block;
}
.selectWrap::after {
  content: '';
  width: 6px;
  height: 6px;
  border: 0px;
  border-bottom: solid 3px #b4b3b3;
  border-right: solid 3px #b4b3b3;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: 23px;
}
.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 40px;
  background: transparent;
  position: relative;
  z-index: 1;
  padding: 0 40px 0 10px;
  border: 1px solid #b4b3b3;
  border-radius: 2px;
}
select::-ms-expand {
    display: none;
}

.copyright{
  text-align: center;
  padding: 10px;
}

.footer-logo{
  padding: 5px;
}

.footer-menu{
  padding: 20px 0;
  text-align: center;
  position: relative;
}

.footer-menu :before{
	position: absolute;
	color: #A68C3F;
	content: "\E315";
	top: 18px;
	left: 8px;
	/* 以下は Google の指定通り */
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	width: 1em;
	height: 1em;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
}

.footer-text{
  text-align: left;
  font-size: 12px;
  padding: 0 10px;
}



.terms{
  font-size: 11px;
}

.form-header img{
  width: 100%;
  max-width: 400px;
}


.form-header-bg{
  background-image:url(../image/form-header-bg.png);
  background-repeat: repeat-x;
}

@media screen and (max-width: 840px) {
  .form-header-bg{
    background-image: none;
    background-color: #eee;
  }
}

.form-header-bg img{
  width: 100%;
  max-width: 840px;
}

.mamual-bg-img img{
  width: 100%;
}

.arrow img{
  max-width: 70px;
}













/* iOSでのデフォルトスタイルをリセット */
input[type="submit"],
input[type="button"] {
 border-radius: 0;
 width: 100%;
 -webkit-box-sizing: content-box;
 -webkit-appearance: button;
 appearance: button;
 border: none;
 box-sizing: border-box;
 cursor: pointer;
 cursor : pointer;
 background-color: #213981;
 border-radius: 0px;
 font-size: 17px;
 position: relative;
 color: white;
 border: 1px solid #213981;
 padding: 19px 0;
 box-shadow: 0px 8px #1B2E6A;
 -webkit-box-shadow: 0px 8px #1B2E6A;
 -moz-box-shadow: 0px 8px #1B2E6A;
}
input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
 display: none;
}
input[type="submit"]::focus,
input[type="button"]::focus {
 outline-offset: -2px;
}
.submit{
  position: relative;
  margin: 0 auto;
}
.submit::after{
  position: absolute;
	color: #fff;
	content: "\f138";
	top: 21px;
	right: 25px;
	/* 以下は Google の指定通り */
	font-family: 'fontawesome';
	font-weight: normal;
	font-style: normal;
	font-size: 23px;  /* Preferred icon size */
	display: inline-block;
	width: 1em;
	height: 1em;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
}
.submit a::before{
  display: block;
  position: absolute;
  z-index: -1;
  left: -30%;
  top: -50%;
  content: "";
  width: 40px;
  height: 130px;
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  background-image: linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
  background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,1)),color-stop(100%,rgba(255,255,255,0)));
  background-image: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, #ffffff rgba(255,255,255,1),rgba(255,255,255,0) 100%);
  animation: shiny 3s infinite linear;
  -webkit-animation: shiny 3s infinite linear;
  -moz-animation: shiny 3s infinite linear;
}


#formWrap {
 width:700px;
 margin:0 auto;
 color:#555;
 line-height:120%;
 font-size:90%;
}

.required{
 color: #FF7373;
 font-size: 11px;
 background-color: #fff;
 border-radius: 3px;
 border: 1px solid #FF7373;
 padding: 3px;
 margin-left: 5px;
 height:20px;
}
input{
 width: 95%;
 border-radius:3px;
 border: 1px solid #aaa;
 min-height:20px;
 padding:7px;
}
textarea{
 width: 95%;
 border-radius:3px;
 border: 1px solid #aaa;
 padding: 7px;
}

.form-width{
  max-width: 400px;
  padding-right: 10px;
}

.material-icons{
  vertical-align: bottom;
  color: #999;
}

.p--margin-bottom8{
  margin-bottom: 8px;
}

.text--center{
  text-align: center;
}

.investor-image{
  max-width: 780px;
  width: 100%;
  margin: 0 auto;
}

.investor-image img{
  max-width: 780px;
  width: 100%;
}

.earth-image{
  max-width: 840px;
  width: 100%;
  margin: 0 auto;
}

.earth-image img{
  max-width: 840px;
  width: 100%;
}

/*p*/

p{
  line-height:12px;
  font-size:11pt;
  margin: 5px;
}

/*header*/

.header{
  color: #000;
}

.header__area{
  background-color: rgba(255,255,255,0.7);
}

.header__area-title-box{
  width: 30%;
  height: 70px;
  float: left;
  margin: 5px;
  background-color: rgba(255,255,255,0.6);
}

@media screen and (max-width: 480px) {
  .header__area-title-box{
    width: 28%;
  }
}

.header__area-text-box{
  width: 65%;
  height: 70px;
  float: right;
  margin: 5px;
  background-color: rgba(255,255,255,0.6);
}

@media screen and (max-width: 480px) {
  .header__area-text-box{
    width: 64%;
  }
}

.header__title{
  margin: 5px 10px 20px 10px;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.3;
  color: #1EB8ED;
}

@media screen and (max-width: 840px) {
  .header__title{
    font-size: 34px;
  }
}

@media screen and (max-width: 480px) {
  .header__title{
    font-size: 27px;
  }
}


.header__title-marker-yellow{
  background: linear-gradient(transparent 60%, #ffff66 60%);
  position: relative;
}

.header__title-marker-yellow:before {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 14px solid #ffff66;
    border-left: 6px solid transparent;
    position: absolute;
    bottom: 0;
    left: -6px;
}

.header__title-marker-yellow:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 14px solid #ffff66;
    border-right: 6px solid transparent;
    position: absolute;
    bottom: 0;
    right: -6px;
}

.header--bg-image{
  background-image:url(image/header-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

@media screen and (max-width: 1240px) {
  .header--bg-image{
    background-size: cover;
    background-position: center top;
  }
}

.header--bg-image-002{
  background-image:url(image/header-bg.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

@media screen and (max-width: 1240px) {
  .header--bg-image-002{
    background-size: cover;
    background-position: center top;
  }
}

.header__subtitle{
  color: #F64D7E;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 0 0;
  line-height: 1.9;
}

@media screen and (max-width: 1100px) {
  .header__subtitle{
    font-size: 18px;
  }
}

.header__data-title{
  font-weight: bold;
  color: #666;
  font-size: 19px;
  margin: 10px 5px;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .header__data-title{
    font-size: 16px;
  }
}

.header__data-text{
  font-weight: bold;
  color: #666;
  font-size: 17px;
  text-align: center;
  line-height: 1.2;
  margin: 10px 5px;
}

@media screen and (max-width: 480px) {
  .header__data-text{
    font-size: 14px;
  }
}

/*title*/

.title-bg{
  background-image:url(image/title-bg.jpg);
  background-repeat: repeat;
}

.title-text{
  font-size: 25px;
  background-color: none;
  padding: 0 20px;
  line-height: 1.3;
}

@media screen and (max-width: 480px) {
  .title-text{
    font-size: 21px;
  }
}

/*sub-title*/

.sub-title{
  border-left: 8px solid #F64D7E;
  padding-left: 5px;
  font-size: 18px;
  line-height: 1.4;
  margin: 15px 0;
}

@media screen and (max-width: 480px) {
  .sub-title{
    font-size: 15px;
  }
}

.sub-title-small{
  font-size: 15px;
}

@media screen and (max-width: 480px) {
  .sub-title-small{
    font-size: 10px;
  }
}


/*tax-title*/

.tax-title{
  border-left: 8px solid #F64D7E;
  padding-left: 5px;
  font-size: 24px;
  margin: 25px 0;
  line-height: 1.2;
}

@media screen and (max-width: 480px) {
  .tax-title{
    font-size: 15px;
    margin: 13px 0;
  }
}

.tax-sub-title{
  border-left: 8px solid #F64D7E;
  padding-left: 5px;
  font-size: 21px;
  margin: 25px 0;
  line-height: 1.2;
}

@media screen and (max-width: 480px) {
  .tax-sub-title{
    font-size: 15px;
    margin: 13px 0;
  }
}

/*fix-text*/

.fix-text{
  font-size: 25px;
}

@media screen and (max-width: 480px) {
  .fix-text{
    font-size: 22px;
  }
}

.fix-text--mt15{
  margin-top: 15px;
}

/*balloon*/

.balloon {
	position: relative;
	background: #FFF100;
  width: 100%;
  text-align: center;
  font-size: 25px;
  border-radius: 10px;
  line-height: 1.3;
  padding: 20px 0;
  font-weight: bold;
}

@media screen and (max-width: 840px) {
  .balloon{
    font-size: 19px;
    padding: 10px 0;
  }
}

.balloon:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 241, 0, 0);
	border-top-color: #FFF100;
	border-width: 20px;
	margin-left: -20px;
}

@media screen and (max-width: 840px) {
  .balloon:after{
    border-width: 15px;
  	margin-left: -15px;
  }
}

/*comment*/

.tel-bg{
  background-image:url(image/tel.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
}

/*comment*/

.comment{
  font-size: 10px;
  line-height: 1.2;
  color: #666;
}


/*method*/


.method{
  padding-left: 40px;
  font-size: 20px;
  margin: 50px 0;
  line-height: 1.2;
  position: relative;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .method{
    padding-left: 30px;
    font-size: 17px;
    margin: 30px 0;
  }
}

@media screen and (max-width: 360px) {
  .method{
    padding-left: 30px;
    font-size: 14px;
    margin: 30px 0;
  }
}

.method::before{
  position: absolute;
	color: #F64D7E;
	content: "\f14a";
	top: -8px;
	left: 0px;
	/* 以下は Google の指定通り */
	font-family: 'fontawesome';
	font-weight: normal;
	font-style: normal;
	font-size: 40px;  /* Preferred icon size */
	display: inline-block;
	width: 1em;
	height: 1em;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
}

@media screen and (max-width: 480px) {
  .method:before{
    font-size: 30px;
    margin: 0;
  }
}

/*inner*/

.inner{
  max-width: 840px;
}

.inner--width-650{
  max-width: 650px;
}

.inner--width-640{
  max-width: 640px;
}

.inner--width-560{
  max-width: 560px;
}

.inner--width-500{
  max-width: 500px;
}

.inner--width-440{
  max-width: 440px;
}

.inner--width-400{
  max-width: 400px;
}

/*lecturer*/

.lecturer-name{
  font-size: 19px;
  margin: 15px;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .lecturer-name{
    font-size: 16px;
  }
}

.lecturer-title{
  border-left: 8px solid #F64D7E;
  padding-left: 5px;
  font-size: 16px;
  font-weight: bold;
  margin: -15px 0 0 0;
  line-height: 1.2;
  color: #424242;
}

@media screen and (max-width: 480px) {
  .lecturer-title{
    font-size: 14px;
  }
}

.lecturer-text{
  font-size: 15px;
  margin: -20px 0 10px 0;
  line-height: 1.4;
  color: #424242;
}

@media screen and (max-width: 480px) {
  .lecturer-text{
    font-size: 13px;
  }
}

/*voice*/

.voice-title{
  border-left: 8px solid #F64D7E;
  padding-left: 5px;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  line-height: 1.5;
  color: #424242;
}

@media screen and (max-width: 480px) {
  .voice-title{
    font-size: 16px;
  }
}

.voice-text{
  font-size: 16px;
  margin: -10px 0 0 0;
  line-height: 1.4;
  color: #424242;
}

@media screen and (max-width: 480px) {
  .voice-text{
    font-size: 14px;
  }
}

/*wrapper*/

.wrapper{
  width: 100%
}

.wrapper--mt-20{
  margin-top: -20px;
}

.wrapper--seminar-bg{
  background-image:url(image/seminar-bg.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

@media screen and (max-width: 480px) {
  .wrapper--seminar-bg{
    background-size: 100% 100%;
  }
}

/*merit*/

.merit-title{
  border-left: 8px solid #F64D7E;
  padding-left: 5px;
  font-size: 24px;
  font-weight: bold;
  margin: 35px 0;
  line-height: 1.2;
}

@media screen and (max-width: 480px) {
  .merit-title{
    font-size: 17px;
    margin: 20px 0;
  }
}

.merit-text{
  border-left: 8px solid #F64D7E;
  padding-left: 5px;
  font-size: 21px;
  font-weight: bold;
  margin: 20px 0;
  line-height: 1.2;
}

@media screen and (max-width: 480px) {
  .merit-text{
    font-size: 15px;
    margin: 10px 0;
  }
}

/*label*/

.required{
  color: #fff;
  background-color: #F64D7E;
  padding: 2px;
  margin-right: 15px;
}

/*formrun-system-show*/

.formrun-system-show{
  color: #F64D7E;
}

/*thanks-text*/

.thanks-text{
  padding: 0 10px;
  font-size: 15px;
}

@media screen and (max-width: 480px) {
  .thanks-text{
    font-size: 13px;
  }
}

.thanks-title{
  font-weight: bold;
  text-align: center;
}

.thanks-text-free{
  font-weight: bold;
  font-size: 115%;
  margin: 0 -3px 0 -3px;
  color: #F64D7E;
}

/*form*/

.form-box{
  margin-bottom: 8px;
}

.form-select-box{
  margin: 20px 0 0 0;
  min-height: 40px;
}

.form-control{
  width: 99%;
  border-radius: 3px;
  border: 1px solid #aaa;
  min-height: 20px;
  padding: 7px;
}

/*flexbox*/
.flex{
  display: flex;
}

.flex--center{
  align-items: center;
  justify-content: center;
}

.flex--row-right{
  flex-direction: row;
  justify-content: flex-end;
}

.flex--row-center{
  flex-direction: row;
  align-items: center;
}

.flex--row-left{
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.flex--row-top{
  flex-direction: row;
  align-items: flex-start;
}

.flex--row-bottom{
  flex-direction: row;
  align-items: flex-end;
}

.flex--column-center{
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex--column-left{
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.flex--column-right{
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.flex--space-between{
  justify-content: space-between;
}

.flex--vertical-center{
  align-items: center;
}

.flex--side-left{
  flex-flow: wrap;
  justify-content: flex-end;
}

.flex--side-center{
  justify-content: center;
}
