/*================================================================
common
================================================================*/

body {
	overflow-x: hidden;
	line-height: 1.5;
}

img {
	width: 100%;
	height: auto;
}

/* マウスホバー時の動き */
a:hover {
	opacity: .7;
}

.container {
	margin: 0 auto;
	padding: 10px;
	width: 1200px;
}

.clear {
	clear: both;
}

/*================================================================
header
================================================================*/
.sub-title {
	min-width: 1210px;
	background-color: #3cb371;
	text-shadow: 2px 2px 10px #333;
}

.sub-title p {
	color: #fff;
}

.logo {
	position: relative;
	margin-bottom: 30px;
	height: 200px;
	background: #00FFFF;
}

.angle {
	position: absolute;
	top: 20px;
	left: -25px;
	display: inline-block;
	background-color: #33FF33;
	font-size: 24px;
	transform: rotate(-26deg);
}

.title {
	padding: 0.25em;
	min-width: 1210px;
	border-top: solid 2px #3cb371;
	border-bottom: solid 2px #3cb371;
	background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px, #e9f4ff 3px, #e9f4ff 7px);
	background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px, #e9f4ff 3px, #e9f4ff 7px);
	background-color: skyblue;
	color: #6cb4e4;
	text-align: center;
	text-align: center;
	font-size: 40px;
}

.title h1 {
	text-shadow: 2px 2px 3px blue;
}

.logo-img-1 {
	position: absolute;
	top: 60px;
	left: 40px;
	width: 620px;
}

.logo-img-2 {
	position: absolute;
	top: 20px;
	right: 10px;
	width: 150px;
}

.title-logo {
	position: absolute;
	top: 40px;
	left: 20px;
	color: white;
	font-weight: bold;
	font-size: 45px;
}

.title-logo span {
	color: #45B6CC;
	text-shadow: 2px 2px 1px #383636,
		-2px 2px 1px #383636,
		2px -2px 1px #383636,
		-2px -2px 1px #383636,
		3px 3px 6px #383636;
	font-size: 50px;
}

.go-to-ranking {
	display: none;
	margin: 10px 20px;
	border: 3px solid skyblue;
	border-radius: 20px;
	background-color: skyblue;
	color: #fff;
	text-align: center;
	font-size: 30px;
}

.psbr {
	display: none;
}

.kondofontsize {
	border: 3px solid skyblue;
	color: #45B6CC;
	font-size: 20px;
}

.kondofontsize2 {
	border: 3px solid skyblue;
	font-size: 15px;
}

/*================================================================
/header
================================================================*/

/*================================================================
main
================================================================*/
.serch-head {
	background-color: #E0672C;
	color: #fff;
	text-align: center;
	text-shadow: 2px 2px 3px #333;
	font-size: 32px;
}

.serch-btn {
	display: inline-block;
	padding: 0.5em 1em;
	width: 100px;
	height: 48px;
	border-bottom: solid 3px #640125;
	border-radius: 4px;
	background-image: -webkit-linear-gradient(#ff4242 0%, #ff9999 100%);
	background-image: linear-gradient(#ff4242 0%, #ff9999 100%);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
	text-decoration: none;
	text-decoration: none;
	font-size: 20px;
}

.serch-btn:active {
	border-bottom: none;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
	-webkit-transform: translateY(4px);
	-ms-transform: translateY(4px);
	transform: translateY(4px);
}

.serch-btn:hover {
	cursor: pointer;
}

.conversion {
	text-align: center;
}

.myButton {
	display: inline-block;
	padding: 16px 25px;
	width: 230px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #e83929;
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	font-family: Arial;
	cursor: pointer;
}

.myButton:hover {
	background-color: #ff0000;
}

.myButton:active {
	position: relative;
	top: 1px;
}

.left {
	float: left;
	box-sizing: border-box;
	padding: 0 10px;
	width: 870px;
}

.serch-button {
	text-align: center;
}

.serch-button div {
	display: inline;
}

.underline {
	border-bottom: 1px dotted #b0c4de;
	line-height: 2.7;
}

.line-height {
	line-height: 2.7;
}

.text-align {
	text-align: center;
	font-size: 12px;
	line-height: 1.7;
}

.filterArea {
	padding: 5px;
	border: 3px solid #E0672C;
	background-color: #eaffea
}

.filterArea span.category {
	display: inline-block;
	width: 30%;
}

.resultArea {
	padding-right: 10px;
}

.filterArea span.br-550px {
	display: none;
}

.br-550px {
	display: none;
}

.inline-block {
	display: inline-block;
}

.filter_category,
.filter_nayami {
	display: none;
}

/*================================================================
商品
================================================================*/
.product {
	padding-bottom: 20px;
	border-bottom: 1px solid #333;

}

.tag-list-sp {
	display: none;
}

.product-left {
	position: relative;
	float: left;
	margin: 40px 2% 0;
	width: 25%;
}

.product-left .rank-img {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 40px;
}

.photo {
	border: 1px solid #333;
}

.productTitle a {
	color: #17a2b8;
	font-weight: bold;
	font-size: 30px;
}

.product-star {
	margin-bottom: 20px;
}

.star-img {
	width: 180px;
}

.tag span {
	display: inline-block;
	margin-bottom: 5px;
	padding: 2px;
	background-color: #333;
	color: #fff;
}

.tag-list {
	float: left;
	width: 160px;
}

.detail-list {
	float: left;
	width: 100%;
}

.detail-list td {
	font-weight: bold;
}

.conversion {
	float: left;
	margin: 20px 2% 0;
	width: 200px;
}

.description-box {
	float: right;
	margin-top: 20px;
	margin-left: 20px;
	width: 580px;
}

.price {
	min-width: 110px;
	color: red;
	font-size: 30px;
}

.price span {
	vertical-align: bottom;
	font-weight: bold;
	font-size: 25px;
}

.discount {
	font-weight: bold;
	font-size: 20px;
}

.br-400px {
	display: none;
}

/*================================================================
/商品
================================================================*/
.info {
	float: left;
	margin-top: 40px;
	margin-left: 4%;
	width: 67%;
}

.serch-button {
	text-align: center;
}

.spbr {
	display: none;
}

/*================================================================
/main
================================================================*/


/*================================================================
ranking
================================================================*/
.right {
	float: left;
	box-sizing: border-box;
	padding: 5px;
	width: 300px;
	border: 5px solid #E0672C;
	border-radius: 10px;
	background-color: #eaffea;
}

.rank-product {
	margin: 5px;
	border-top: 2px solid #E0672C;
}

.product-img {}

.star-rank-sp {
	display: none;
}

.star-rank {
	width: 50%;
}

.ranking-title {
	color: #ffd700;
	text-align: center;
	text-shadow: 2px 2px 3px #800000;
	font-size: 25px
}

.rank-img {
	width: 20%;
}

.product-name {
	display: inline-block;
	width: 75%;
}

.product-name a {
	color: #0000ff;
}

.product-name a {
	text-decoration: underline;
	cursor: pointer;
}

.target {
	font-weight: bold;
}

.rank-left {
	float: left;
	width: 20%;
}

.rank-right {
	float: left;
	width: 78%;
}

/*================================================================
/ranking
================================================================*/
#page-top {
	position: fixed;
	right: 40px;
	bottom: 90px;
	display: block;
	margin: 0;
	padding: 20px;
	border-radius: 10px;
	background-color: #E0672C;
	color: #000;
	text-align: center;
	text-decoration: none;
}

#page-top:hover {
	text-decoration: none;
	cursor: pointer;
}

/*================================================================
footer
================================================================*/
footer {
	margin-top: 20px;
	background-color: gray;
}

.footer-inner p {
	padding-bottom: 10px;
	color: #fff;
	text-align: center;
	font-size: 15px;
}

.footer-inner div {
	padding-top: 10px;
	text-align: center;
	font-size: 15px;
}

.footer-inner a {
	color: #fff;
}

.footer-inner a:hover {
	opacity: 0.7;
	cursor: pointer;
}

/*================================================================
/footer
================================================================*/


/*================================================================
スマホ版
================================================================*/
@media only screen and (max-width:960px) {

	.title,
	.sub-title {
		min-width: 100%;
	}

	.container,
	.left,
	.right {
		width: 100%;
	}

	.left {
		padding: 0;
	}

	.product-left {
		width: 28%;
	}

	.photo img {
		width: 100%;
	}

	.description-box {
		width: 60%;
	}

	.info {
		width: 64%;
	}

	.conversion {
		width: 28%;
	}

	.resultArea {
		padding-right: 0;
	}

	.myButton {
		padding: 16px 0;
		width: 100%;
		text-align: center;
	}

	.title-logo,
	.title-logo span {
		font-size: 40px;
	}

	.product-name {
		padding: 10px;
		vertical-align: top;
	}

	.product-name a {
		font-size: 20px;
	}

	.spbr {
		display: inline;
	}

	.star-rank-sp {
		display: inline;
		width: 50%;
	}

	.star-rank {
		display: none;
	}

	.rank-img {
		width: 80px;
	}

	.tag-list-sp {
		display: inline-block;
		margin-top: 20px;
	}

	.tag-list {
		display: none;
	}
}

@media only screen and (max-width:800px) {

	.title-logo,
	.title-logo span {
		font-size: 40px;
	}

	.logo {
		height: 150px;
	}

	.logo-img-2 {
		width: 70px;
	}

}

@media only screen and (max-width:700px) {

	.title-logo,
	.title-logo span {
		font-size: 20px;
	}

	.logo-img-2 {
		right: -15px;
		width: 100px;
	}

	.sub-title {
		text-align: center;
		font-size: 11px;
	}

	.title {
		font-size: 34px;
	}

	.serch-head {
		font-size: 25px;
	}
}

@media only screen and (max-width:600px) {
	.container {
		padding: 10px 0;
	}

	.price {
		font-size: 25px;
	}

	.info {
		margin-left: 0;
	}
}

@media only screen and (max-width:550px) {
	.br-550px {
		display: inline;
	}

	.filterArea span.br-550px {
		display: inline-block;
	}

	.filterArea span.category {
		display: inline-block;
		width: 40%;
	}

	input[type="text"] {
		width: 40%;
	}
}

@media only screen and (max-width:500px) {

	/*  PCの横幅用のクラス  */
	body {
		line-height: 1.3;
	}

	.title,
	.sub-title {
		min-width: 100%;
	}

	.psbr {
		display: inline-block;
		padding-bottom: 5px;
	}

	.container {
		padding: 10px 0;
	}

	.title h1 {
		font-size: 24px;
	}

	.angle {
		font-size: 18px;
	}

	.right,
	.left,
	.container {
		width: 100%;
	}

	.left {
		padding: 0;
	}

	.right {
		margin: 10px 0 0;
	}

	.filterArea span.category {
		width: 40%;
	}

	td:first-child {
		width: 30%;
	}

	.product-left {
		margin: 40px 3% 0;
		width: 30%;
	}

	.photo img {
		width: 100%;
	}

	.resultArea {
		padding-right: 0;
	}

	table {
		width: 100%;
		table-layout: fixed;
	}

	.info {
		margin-left: 0;
		width: 64%;
	}

	.tag-list {
		width: 30%;
	}

	.tag-list {
		display: none;
	}

	.tag-list-sp {
		display: inline-block;
		margin-top: 20px;
	}

	.detail-list {
		width: 100%;
	}

	.price {
		font-size: 20px;
	}

	.pcbr {
		display: none;
	}

	.discount {
		font-size: 20px;
	}

	.title-logo,
	.title-logo span {
		top: 50px;
		left: 0;
		font-size: 23px;
	}

	.angle {
		left: 3px;
		transform: rotate(0deg)
	}

	.logo-img-2 {
		position: absolute;
		top: 0;
		right: 0;
		width: 70px;
	}

	.ranking-title {
		font-size: 27px;
	}

	.logo {
		height: 120px;
	}

	.rank-right {
		margin-left: 5px;
	}

	.go-to-ranking {
		display: block;
		font-size: 16px;
	}

	.go-to-ranking:hover {
		opacity: 0.7;
		cursor: pointer;
	}

	#page-top {
		right: 20px;
		bottom: 44px;
		padding: 20px;
		border-radius: 10px;
		font-size: 20px;
	}

	.serch-head {
		padding: 5px 0;
		font-size: 18px;
	}

	.star-img {
		width: 70%;
	}

	.conversion,
	.description-box {
		float: none;
		margin: 0 5%;
		width: 90%;
		font-size: 19px;
	}

	.footer-inner p {
		font-size: 13px;
	}

	.myButton {
		margin: 10px auto 0;
		padding: 16px 0;
		width: 100%;
		text-align: center;
		font-size: 18px;
	}

	.productTitle a {
		font-size: 25px;
	}

	.tag span {
		padding: 4px;
		font-size: 16px;
	}

	.product-name {
		padding: 10px;
		vertical-align: top;
	}

	.product-name a {
		font-size: 20px;
	}

	.star-rank-sp {
		display: inline;
		width: 50%;
	}

	.star-rank {
		display: none;
	}
}

@media only screen and (max-width:400px) {
	.price {
		font-size: 18px;
	}

	.br-400px {
		display: inline;
	}

	td:first-child {
		width: 35%;
	}

	.rank-img {
		width: 20%;
	}

	.product-img {
		widht: 70%;
	}

	.tag span {
		font-size: 13px;
	}

	.filterArea span.category {
		width: 45%;
	}

	.filter_category,
	.filter_nayami {
		display: block;
	}

	.filter_tag {
		display: none;
	}

	input[type="text"] {
		width: 30%;
	}

	.serch-head {
		font-size: 17px;
	}
}

/*================================================================*/
